@import "tailwindcss";
@import "shadcn/tailwind.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-ubuntu);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
}

:root {
  --background: #FFFFFF;
  --foreground: #212121;

  --card: #FFFFFF;
  --card-foreground: #212121;

  --popover: #FFFFFF;
  --popover-foreground: #212121;

  --primary: #EBAB2B;
  --primary-foreground: #212121;

  --secondary: #212121;
  --secondary-foreground: #FFFFFF;

  --muted: #F3F4F6;
  --muted-foreground: #6B7280;

  --accent: #FEF3C7;
  --accent-foreground: #212121;

  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;

  --border: #E5E7EB;
  --input: #E5E7EB;
  --ring: #EBAB2B;

  --radius: 0.5rem;

  --success: #03C143;
  --success-foreground: #FFFFFF;

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --card: #171717;
  --card-foreground: #ededed;

  --popover: #171717;
  --popover-foreground: #ededed;

  --primary: #EBAB2B;
  --primary-foreground: #212121;

  --secondary: #262626;
  --secondary-foreground: #ededed;

  --muted: #262626;
  --muted-foreground: #a3a3a3;

  --accent: #262626;
  --accent-foreground: #ededed;

  --destructive: #991b1b;
  --destructive-foreground: #ededed;

  --border: #262626;
  --input: #262626;
  --ring: #EBAB2B;

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}